@import '../variables.scss';
@import '../utilis.scss';

.hero__container {
    width: 100%;
    padding-inline: toRem($padding-container);
    height: 100vh;
    min-height: toRem(550);
    background-color: $background-color;
    background-image: url(../../assets/Background@2x.webp);
    background-repeat: no-repeat;
    background-size: 210%;
    background-position: top toRem(310) center;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    @media only screen and (max-width: toRem($breakpoint-small)) {
        background-image: url(../../assets/bgc-mobile.webp);
        background-size: 110%;
    }

    @media only screen and (min-width: toRem($breakpoint-medium)) and (max-width: toRem(950)) {
        background-size: 150%;
        min-height: toRem(400);
        background-position: top toRem(360) center;
        margin-bottom: toRem(30);
    }

    @media only screen and (min-width: toRem(950)) and (max-width: toRem(1450)) {
        background-size: 120%;
        min-height: toRem(400);
        background-position: top toRem(360) center;
        margin-bottom: toRem(30);
    }

    @media only screen and (min-width: toRem(1450)) {
        background-size: 100%;
        min-height: toRem(400);
        background-position: top toRem(360) center;
        margin-bottom: toRem(30);
    }

    .hero__box {
        margin-top: toRem(50);
        text-align: center;

        @media only screen and (min-width: toRem(700)) {
            margin-top: toRem(100);
        }

        h1 {
            color: $text-color;
            font-family: $raleway-font;
            font-size: toRem(36);
            font-weight: normal;
            line-height: 1.17;

            @media screen and (min-width: toRem(700)) {
                font-size: toRem(49);
            }
        }

        .hero__lead {
            color: $text-color;
            font-family: $open-sans-font;
            font-size: toRem(16);
            font-weight: normal;
            line-height: 1.375;
            text-align: center;
            margin-top: toRem(20);
            margin-bottom: toRem(20);
        }
    }
}