@import '../variables.scss';
@import '../utilis.scss';

.hero__container {
    width: 100%;
    padding-inline: $padding-container;
    height: 100vh;
    // height: 100%;
    min-height: 600px;
    background-color: $background-color;
    background-image: url(../../assets/Background@2x.png);
    background-repeat: no-repeat;
    background-size: 210%;
    background-position: top 300px center;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    @media only screen and (min-width: toRem($breakpoint-medium)) and (max-width: toRem(950)) {
        background-size: 150%;
        min-height: 400px;
        background-position: top 360px center;
        padding-bottom: 400px;
        margin-bottom: 30px;
    }

    @media only screen and (min-width: toRem(950)) and (max-width: toRem(1450)) {
        background-size: 150%;
        min-height: 400px;
        background-position: top 360px center;
        padding-bottom: 500px;
        margin-bottom: 30px;
    }

    @media only screen and (min-width: toRem(1450)) {
        background-size: 100%;
        min-height: 400px;
        background-position: top 360px center;
        padding-bottom: 500px;
        margin-bottom: 30px;
    }

    .hero__box {
        margin-top: toRem(50);
        text-align: center;

        @media only screen and (min-width: toRem(700)) {
            margin-top: toRem(100);
        }

        h1 {
            color: $text-color;
            font-family: $raleway-font;
            font-size: toRem(36);
            font-weight: normal;
            line-height: 1.17;

            @media screen and (min-width: toRem(700)) {
                font-size: toRem(49);
            }
        }

        .hero__lead {
            color: $text-color;
            font-family: $open-sans-font;
            font-size: toRem(16);
            font-weight: normal;
            line-height: 1.375;
            text-align: center;
            margin-top: toRem(20);
            margin-bottom: toRem(20);
        }
    }
}