@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$background-color: #fff;
$border-color: #00000029;
$blue-pattern: #08A6E4;
$pink-pattern: #EB476E;
$green-pattern: #55DFB4;
$text-color: #000000;
$light-text: #A5A5A5;
$text-color-basic: #FB3B64;
$text-color-professional: #07ACE6;
$text-color-premium: #55DFB4;
$form-color-border: #95989A;
$text-form: #707070;
$base-font-size: 16;





