@import './styles/normalize.scss';
@import './styles/variables.scss';
@import './styles/utilis.scss';
@import './styles/layout.scss';
@import './styles/components/header.scss';
@import './styles/components/footer.scss';
@import './styles/components/hero.scss';
@import './styles/components/contact.scss';
@import './styles/components/whyus.scss';
@import './styles/components/benefits.scss';
@import './styles//components/prices.scss';

.container {
    width: 100%;
    background-color: $background-color;
    border: 1px solid $border-color;

    @media only screen and (min-width: 700px) {
        width: 100%;
        max-width: 1626px;
    }
}

.btn {
    color: #fff;
    font-family: $open-sans-font;
    font-size: toRem(16);
    line-height: 1.375;
    font-weight: bold;
    border-radius: toRem(40);
    box-shadow: toRem(5) toRem(10) toRem(14) #07ACE629;
    background-color: $blue-pattern;
    border: none;
    padding: toRem(15) toRem(80);
    cursor: pointer;

    &:hover {
        transform: scale(105%);
    }

    @media screen and (min-width: toRem($breakpoint-medium)) {
        padding: toRem(15) toRem(120);
    }
}